<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>SNI x KWT</title>
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
</head>

<body>
    <main-header></main-header>
    <div class="flex items-center justify-center sm:p-12">
        <div class="mx-auto w-full max-w-[550px] bg-white">
            <form action="http://localhost:5000/results" method="POST" class="py-6 px-9" enctype="multipart/form-data">
                <div class="mb-5">
                    <h1 class="mb-3 block text-2xl text-center font-medium text-gray-800">
                        Add Lion Data to Database
                    </h1>
                </div>
                <!-- <div class="mb-5">
                    <label for="name" class="mb-3 block text-lg font-medium text-gray-800">
                        Lion Name
                    </label>
                    <input type="text" name="lion_name" id="name" placeholder="Simba"
                        class="w-full rounded-md border border-gray-300 bg-white py-3 px-6 text-lg font-medium text-[#6B7280] outline-none focus:border-blue-600 focus:shadow-md" />
                </div>
                <div class="mb-5">
                    <label for="name" class="mb-3 block text-lg font-medium text-gray-800">
                        Lion Pride
                    </label>
                    <input type="text" name="lion_pride" id="name" placeholder="Engoyanai"
                        class="w-full rounded-md border border-gray-300 bg-white py-3 px-6 text-lg font-medium text-[#6B7280] outline-none focus:border-blue-600 focus:shadow-md" />
                </div>
                <div class="mb-5">
                    <label for="name" class="mb-3 block text-lg font-medium text-gray-800">
                        Lion Date of Birth
                    </label>
                    <input type="date" name="dob" id="name" placeholder="Date"
                        class="w-full rounded-md border border-gray-300 bg-white py-3 px-6 text-lg font-medium text-[#6B7280] outline-none focus:border-blue-600 focus:shadow-md" />
                </div>
                <div class="mb-5">
                    <label for="name" class="mb-3 block text-lg font-medium text-gray-800">
                        Lion Description
                    </label>
                    <textarea type="text" name="describe" id="name" placeholder="Simba"
                        class="w-full rounded-md border border-gray-300 bg-white py-3 px-6 text-lg font-medium text-[#6B7280] outline-none focus:border-blue-600 focus:shadow-md"></textarea>
                </div> -->

                <div class="mb-6 pt-4">
                    <label class="mb-5 block text-lg font-semibold text-gray-800">
                        Upload File
                    </label>
                    <div class="border bg-gray-100 border-dashed rounded-lg border-gray-300 relative">
                        <div id="inp" class="">
                            <input onchange="loadFile(event)" type="file" name="imagefile" id="input_img"
                                class="cursor-pointer relative block opacity-0 w-full h-full p-20 z-50">
                            <div class="text-center mt-4 p-10 absolute top-0 right-0 left-0 m-auto">
                                <h4 class="text-gray-700 font-medium">
                                    Drop files anywhere to upload
                                    <br />or
                                </h4>
                                <p class="text-gray-700 font-medium">Select Files</p>
                            </div>
                        </div>
                        <span id="filename">image</span>
                        <img id="output" class="" />
                    </div>
                </div>
                <div>
                    <button type="submit"
                        class="hover:shadow-form w-full rounded-md bg-blue-600 py-3 px-8 text-center text-lg font-semibold text-white outline-none">
                        Upload
                    </button>
                </div>
            </form>

        </div>
    </div>
</body>
    <script src="{{url_for('static', filename='styles/style.js')}}"></script>

</html>